* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

li {
  text-decoration: none;
  list-style: none;
}

body {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(/img/fon_adios1.jpg);
  color: rgb(0, 0, 0);
  flex-direction: column;
  width: auto;
}

.nav_header {
  display: flex;
  justify-content: flex-end;
  right: 20px;
}

.nav_header a {
  padding: 20px 20px;
  line-height: 70px;
}

.nav_list {
  display: flex;
  justify-content: space-evenly;
}

.nav_list a {
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.nav_list a:hover {
  color: rgb(247, 123, 8);
}

.main_container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: rgb(178, 136, 206);
  height: 620px;
  align-items: center;
}

.profile-photo {
  border-radius: 55%;
  width: 100%;
}

.main_cotainer_me {
  text-align: center;
}

.main_container_contacts {
  background-color: rgb(235, 221, 102);
  height: 245px;
  text-align: center;
}

.first_project {
  color: rgb(0, 0, 0);
}

.first_project:hover {
  color: rgb(247, 123, 8);
}

.main_container_about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 610px;
}

.footer_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.footer_image_rs,
.footer_github {
  width: 60px;
}
